################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeSheetApp/.vs/TimeSheetApp/v16
/TimeSheetApp/TimeSheetApp.Forms/bin/Debug
/TimeSheetApp/TimeSheetApp.Forms/obj/Debug
/TimeSheetApp/TimeSheetApp.Helpers/bin/Debug
/TimeSheetApp/TimeSheetApp.Helpers/obj/Debug
/TimeSheetApp/packages/Dapper.2.0.35

