################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeSheetApp/.vs/TimeSheetApp/v16
/TimeSheetApp/TimeSheetApp/bin/Debug
/TimeSheetApp/TimeSheetApp/obj/Debug
/TimeSheetApp/packages/Dapper.2.0.35
