################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TimeSheetApp/.vs/TimeSheetApp/v16
